/* —–– базові (<768px) —–––––––––––––––––––––––––––––––– */
.footer {
   
    margin-bottom: 144px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column-reverse;
  }
  .telegram{
  width: 64px;
  height: auto;
}
.tiktok{
  width: 53px;
  height: auto;
  
}
.instagram{
  width: 58px ;
  height: auto;
}
.facebook{
  width: 40px;
  height: auto;
}
.youtube{
  width: 60px;
  height: auto;
}

  .icons {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 15px;
    cursor: pointer;
  }
  .youtubeIcon{
    width: 80px;
  }
  

  /* —–– для ≥768px (min-width: 768px) —–––––––––––––––––––––– */
  @media (min-width: 768px) {
    .footer {
      margin-top: 4.31vw;     /* 62px → 62/1440*100 ≈ 4.31vw */
      margin-bottom: 10vw;    /* 144px → 144/1440*100 = 10vw */
      flex-direction: column-reverse;
    }
    .icon + .icon {
      padding-left: 1.53vw;   /* 22px → 22/1440*100 ≈ 1.53vw */
    }
    .icons {
        display: flex;
        margin-top: 0px;
        flex-direction: row;
        gap: 10;
      }
        .telegram{
    width: 3.28vw;
    height: auto;
  }
  .tiktok{
    width: 2.76vw;
    height: auto;
    
  }
  .instagram{
    width: 3.02vw;
    height: auto;
  }
  .facebook{
    width: 2.08vw;
    height: auto;
  }
  .youtube{
    width: 3.125vw;
    height: auto;
  }

  }
  